:root {
  /* font-size: calc(0.5em + 1vw); */
  --red: #fb565a;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
body {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #eee;
  padding-top: 50px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .logo{
  width: 1600px;
}
.logo img {
  max-width: 160px;
  width: 100%;
} */
.logo:hover {
  opacity: 0.7;
}
.logo:active {
  opacity: 0.3;
}
.nav {
  flex-basis: 50%;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav__item {
  text-transform: uppercase;
  /* margin: 0 20.5px; */
}
.nav__link {
  padding: 1px 2px;
  color: black;
  font-weight: 500;

  transition: all;
  transition-duration: 0.2s;
}
.nav__link:hover,
.basket__link:hover {
  color: var(--red);
}
.nav__link:active,
.basket__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.nav__link.active {
  padding-bottom: 19px;
  border-bottom: solid var(--red) 2px;
}
.nav__link.active:hover {
  color: black;
}
.basket__link {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  background-image: url(../images/home/icon-cart.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left;
  padding-left: 40px;
}
.title__wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../images/home/illustration_2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.header__title {
  max-width: 500px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 25px;
}
.header__subtitle {
  max-width: 350px;
  margin-bottom: 40px;

  color: #283136;
}
.button {
  background-color: var(--red);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  padding: 15px 54px;
  border-radius: 3px;

  transition: all;
  transition-duration: 0.2s;
}
.button:hover {
  background-color: #e74246;
}
.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.services {
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.services__item {
  max-width: 300px;
}
.services__title {
  text-transform: uppercase;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 25px 0 16px;
}

.subtitle {
  line-height: 24px;

  color: #283136;
}
.services__button {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  padding: 16px 40px;
  margin-top: 32px;

  transition: all;
  transition-duration: 0.2s;
}
.web {
  background-color: var(--red);
}
.web:hover {
  background-color: #e74246;
}
.web:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.app {
  background-color: #00ca74;
}
.app:hover {
  background-color: #00bc6c;
}
.app:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}
.present {
  background-color: #efc849;
}
.present:hover {
  background-color: #eab534;
}
.present:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}
.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 80px 0;
  border-bottom: 1px solid #eee;
}
.about__wrapper {
  max-width: 650px;
  width: 100%;
}
.about-image__wrapper {
  max-width: 360px;
  width: 100%;
}
.about__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
}
.about__caption {
  font-weight: 700;

  line-height: 24px;

  text-transform: uppercase;

  color: #283136;
  margin: 40px 0 23px;
}
.about__item {
  position: relative;
  padding-left: 32px;
  margin-bottom: 25px;
}
.about__item:last-child {
  margin-bottom: 0;
}
.about__item::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--red);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.standart__list {
  display: flex;
  flex-wrap: nowrap;
}
.standart__item {
  line-height: 18px;
  color: #283136;
}
.numb {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: #000000;
  position: relative;
}

.interest {
  /* display: inline-block; */
  position: absolute;
  font-size: 26px;
  line-height: 40px;
  /* margin-bottom: 50px; */
  top: 0;
  left: 100%;
}
.partners {
  padding: 50px 0;
  border-bottom: 1px solid #eee;
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partners__item {
  max-width: 250px;
  width: 100%;
  position: relative;
}
.partners__item::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 40px;
  background-color: #eee;
  right: 0;

  bottom: 50%;
  transform: translateY(50%);
}
.partners__item:last-child::after {
  display: none;
}
.partners__link {
  display: block;
  max-width: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 90px;
  margin: 0 auto;
  opacity: 0.2;
}
.partners__link:hover {
  opacity: 1;
}
.partners__link:active {
  opacity: 0.1;
}
.htmlAcademy {
  background-image: url(../images/home/partners_1.png);
}
.boroda {
  background-image: url(../images/home/partners_2.png);
}
.pink {
  background-image: url(../images/home/partners_3.png);
}
.mishka {
  background-image: url(../images/home/partners_4.png);
}
.map {
  background-image: url(../images/home/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* min-height: 416px; */
  /* max-width: 1440px;
  margin: 0 auto; */
  margin-top: 80px;
  padding: 55px 0;

  position: relative;
}
.map__inner {
  background-image: url(../images/home/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 55px 0;
}
.contacts::after {
  content: url(../images/home/map-marker.png);
  position: absolute;
  /* top: 22%;
  left: 60%; */
  top: 70px;
  left: 900px;
}
.contacts {
  background-color: #fff;
  max-width: 320px;
  height: 310px;
  margin: 0;
  padding: 0;
  /* text-align: center; */
  /* align-content: center; */
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  /* align-items: center; */
  justify-content: space-between;

  padding: 50px;
}

.contacts__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts__address,
.contacts__phone {
  color: #666666;
  line-height: 18px;
}
.contacts__button {
  padding: 15px 0;
}

.popup {
  position: absolute;
  background-color: #fff;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 960px;
  width: 100%;

  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  padding: 70px 100px;
  z-index: 1000;
  /* opacity: 0; */
  /* visibility: hidden; */
  /* display: none; */
}

.form__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 40px;
}

.input__wrapper {
  display: flex;
  margin-bottom: 35px;
  justify-content: space-between;
}
.input__wrapper .form__text {
  max-width: 360px;
  width: 100%;
}
.form__caption {
  font-weight: 700;
  display: block;
  margin-bottom: 9px;
}
.form__input {
  border: 2px solid #d7dcde;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 16px;
  margin: 0;

  width: 100%;
}
#text {
  resize: none;
  height: 120px;
}
.write__close {
  position: absolute;
  background-image: url(../images/home/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
  width: 21px;
  height: 21px;
  top: 70px;
  right: 100px;
  opacity: 0.3;
}
.write__close:hover {
  opacity: 1;
}
.write__close:active {
  opacity: 0.1;
}
.form__send {
  margin-top: 50px;
}
.footer {
  padding: 70px 0;
}
.footer__inner {
  display: flex;
}
.social__list {
  display: flex;
  max-width: 261px;
  width: 100%;
  justify-content: space-between;
}
.social__link {
  display: block;
  width: 81px;
  height: 81px;
  border-radius: 40.5px;
  position: relative;
  background-color: #e1e1e1;
}
.social__link::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vk::after {
  content: url(../images/home/icon-vk.png);
}
.fb::after {
  content: url(../images/home/icon-fb.png);
}
.inst::after {
  content: url(../images/home/icon-insta.png);
}
.social__link:hover {
  background-color: #e74246;
}
.social__link:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.social__link:active.social__link::after {
  opacity: 0.1;
}
.footer__text {
  margin-left: 140px;
}
.text__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}
.text__subtitle {
  line-height: 22px;
  color: #444444;
}
.hidden {
  position: absolute;
  opacity: 0;
}

dot {
  position: absolute;
  display: block;
  border: 2px solid red;
  border-radius: 50px;
  height: 100px;
  width: 100px;
}
