:root {
  /* font-size: calc(0.5em + 1vw); */
  --red: #fb565a;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
body {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #eee;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .logo{
  width: 1600px;
}
.logo img {
  max-width: 160px;
  width: 100%;
} */
.logo:hover {
  opacity: 0.7;
}
.logo:active {
  opacity: 0.3;
}
.nav{
  flex-basis: 50%;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
}
.nav__item {
  text-transform: uppercase;
  /* margin: 0 20.5px; */
}
.nav__link {
  padding: 1px 2px;
  color: black;
  font-weight: 500;

  transition: all;
  transition-duration: 0.2s;
}
.nav__link:hover,
.basket__link:hover {
  color: var(--red);
}
.nav__link:active,
.basket__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.nav__link.active {
  padding-bottom: 19px;
  border-bottom: solid var(--red) 2px;
}
.basket__link {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  background-image: url(../images/home/icon-cart.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left;
  padding-left: 40px;
}
.title__wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../images/home/illustration_2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.header__title {
  max-width: 500px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 25px;
}
.header__subtitle {
  max-width: 350px;
  margin-bottom: 40px;

  color: #283136;
}
.button {
  background-color: var(--red);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  padding: 15px 54px;
  border-radius: 3px;

  transition: all;
  transition-duration: 0.2s;
}
.button:hover {
  background-color: #e74246;
}
.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.services {
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.services__item {
  max-width: 300px;
}
.services__title {
  text-transform: uppercase;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 25px 0 16px;
}

.subtitle {
  line-height: 24px;

  color: #283136;
}
.services__button {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  padding: 16px 40px;
  margin-top: 50px;

  transition: all;
  transition-duration: 0.2s;
}
.web {
  background-color: var(--red);
}
.web:hover {
  background-color: #e74246;
}
.web:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.app {
  background-color: #00ca74;
}
.app:hover {
  background-color: #00bc6c;
}
.app:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}
.present {
  background-color: #efc849;
}
.present:hover {
  background-color: #eab534;
}
.present:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}
.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 80px 0;
  border-bottom: 1px solid #eee;
}
.about__wrapper {
  max-width: 650px;
  width: 100%;
}
.about-image__wrapper {
  max-width: 360px;
  width: 100%;
}
.about__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
}
.about__caption {
  font-weight: 700;

  line-height: 24px;

  text-transform: uppercase;

  color: #283136;
  margin: 40px 0 23px;
}
.partners {
  padding: 50px 0;
  border-bottom: 1px solid #eee;
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partners__item {
  max-width: 250px;
  width: 100%;
  position: relative;
}
.partners__item::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 40px;
  background-color: #eee;
  right: 0;

  bottom: 50%;
  transform: translateY(50%);
}
.partners__link {
  display: block;
  max-width: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 90px;
  margin: 0 auto;
  opacity: 0.2;
}
.partners__link:hover {
  opacity: 1;
}
.partners__link:active {
  opacity: 0.1;
}
.htmlAcademy {
  background-image: url(../images/home/partners_1.png);
}
.boroda {
  background-image: url(../images/home/partners_2.png);
}
.pink {
  background-image: url(../images/home/partners_3.png);
}
.mishka {
  background-image: url(../images/home/partners_4.png);
}
.map {
  background-image: url(../images/home/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* min-height: 416px; */
  margin-top: 80px;
  padding: 55px 0;
}
.contacts {
  background-color: #fff;
  max-width: 320px;
  height: 310px;
  margin: 0;
  padding: 0;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.contacts__title{
  text-transform: uppercase;
  font-weight: 700;
font-size: 18px;
line-height: 30px;
}
.contacts__adress{
  max-width: ;
}
.contacts__adress,.contacts__phone{
  color: #666666;
}
.contacts__button{

}

.popup {
  opacity: 0;
  visibility: hidden;
  display: none;
}
