.title__wrapper {
  background-image: none;
}
.header__title {
  text-align: center;
  max-width: 100%;
}
header {
  margin-bottom: 55px;
}
.aside {
  width: 260px;
  /* background-color: tomato; */
  /* margin-right: 140px; */
}
/* form */
.form__item .form__title:not(.form__title:last-child) {
  margin-top: 50px;
}
.form__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 16px;
}
.filter {
  /* margin: 20px auto; */
  /* padding: 25px; */
  width: 260px;
}
.filter-range__wrapper {
  margin-top: 50px;
  margin-bottom: 10px;

  padding: 39px 20px;
  border-radius: 3px;
  background-color: #eee;
}
.filter-range {
  position: relative;
}
.filter-range__scale {
  height: 2px;
  background-color: #d7dcdf;
}
.filter-range__bar {
  height: 2px;
  width: 75%;
  background-color: #00ca74;
}
.filter-range__handle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;

  padding: 0;
  border: 4px solid #fff;
  border-radius: 50%;
  background-color: #ababab;
  cursor: pointer;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}
.filter-interval {
  display: flex;
}
.filter-interval label {
  width: 50%;
  text-transform: uppercase;
  color: #283136;
  line-height: 22px;
}
.filter-interval label:last-child {
  text-align: right;
}

.filter-interval input {
  margin-left: 8px;
  width: 80px;
  height: 38px;
  border-radius: 2px;
  text-align: center;
  background-color: #eee;
}

.form__item label {
  display: block;
}
.filter__button {
  background-color: #eee;
  color: #000;
  width: 100%;
}
.filter__button:hover {
  background-color: #dfdfdf;
}
.filter__button {
  background-color: #d5d5d5;
}
/* form END*/
.wrapper {
  display: flex;
}

.main {
  margin-left: 140px;
}
.sort {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.sort .form__title {
  margin-bottom: 50px;
}
.sort__btns {
  display: flex;
  align-items: flex-start;
}
.sort__btns button {
  text-transform: uppercase;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin-right: 25px;
  opacity: 0.3;
}
.sort-btn.active {
  opacity: 1;
}
.sort-btn__wrapper {
  display: flex;
  margin-left: 15px;
  align-items: center;
}
.sort-btn__wrapper .sort-btn {
  width: 11px;
  height: 11px;
  /* background-color: #000; */
  margin: 3px 0 0 15px;
}
.sort__max {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 11px solid #000;
}
.sort__min {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid #000;
}
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.job {
  max-width: 360px;
  width: 100%;
  position: relative;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.job:hover .job__footer {
  z-index: 100;
  opacity: 1;

  transition: opacity z-index;
  transition-duration: 0.6s;
}
.job:hover .job__header {
  background-color: #4d4d4d;

  transition: all;
  transition-duration: 0.6s;
}
.job__header {
  display: flex;
  background-color: #eee;
  height: 40px;
  border-radius: 3px 3px 0 0;
  padding-left: 6px;
  align-items: center;

  transition: all;
  transition-duration: 0.2s;
}
.job__header span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 9px;
}
.job__image {
  border-radius: 0 0 3px 3px;
  width: 100%;
}
.job__footer {
  /* display: none; */
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eee;
  width: 100%;
  text-align: center;
  border-radius: 0 0 3px 3px;
  z-index: -1;
  opacity: 0;

  transition: opacity z-index;
  transition-duration: 0.2s;
}
.job__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 26px 0 15px 0;
}
.job__subtitle {
  line-height: 18px;
  color: #666666;
  margin: 0 auto;
  margin-bottom: 32px;
  width: 255px;
}
.job__footer .button {
  padding: 15px 72px;
  margin-bottom: 45px;
}

.catalog-link__list {
  display: flex;
}
.catalog-link__item {
  margin-right: 11px;
}
.catalog-link__item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: #eee;
  border: 3px solid #eee;
  border-radius: 3px;

  width: 50px;
  height: 50px;
}
.catalog-link__item:last-child {
  width: auto;
  padding: 0 77px;
}
.catalog-link__item a {
  color: #000;
  margin: 0 auto;
}
.catalog-link__item.active {
  background-color: #fff;
  border: 3px solid #dbdbdb;
}
