:root {
  /* font-size: calc(0.5em + 1vw); */
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
body {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #eee;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__item {
  text-transform: uppercase;
  margin: 0 20.5px;
}
.nav__link {
  padding: 1px 2px;
  color: black;
  font-weight: 500;
}
.basket__link {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  background-image: url(../images/home/icon-cart.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left;
  padding-left: 40px;
}
.title__wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../images/home/illustration_2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.header__title {
  max-width: 500px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 25px;
}
.header__subtitle {
  max-width: 350px;
  margin-bottom: 40px;

  color: #283136;
}
.header__btn {
  background-color: #fb565a;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  padding: 15px 54px;
  border-radius: 3px;
}
.services {
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.services__item {
  max-width: 300px;
}
.services__title {
  text-transform: uppercase;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 25px 0 16px;
}

.subtitle {
  line-height: 24px;

  color: #283136;
}
.services__button {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  padding: 16px 40px;
  margin-top: 50px;
}
.web {
  background-color: #fb565a;
}

.app {
  background-color: #00ca74;
}
.present {
  background-color: #efc849;
}
.about {
  display: flex;
  padding: 80px 0;
  border-bottom: 1px solid #eee;
}
.about__wrapper {
}
.about__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
}
.about__caption {
  font-weight: 700;

  line-height: 24px;

  text-transform: uppercase;

  color: #283136;
  margin: 40px 0 23px;
}

.partners__list {
  display: flex;
  justify-content: space-between;
}
